textarea {
  resize: none;
}

.amount-container {
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.amount-label {
  text-align: center;
}

.circumstance-form {
  margin-bottom: 50px;
}