.container {
  max-width: none;
}

.member-text {
  margin: 0;
}

.date-text {
  text-align: right;
}

.action-button {
  margin-left: 10px;
}

.action-buttons-container {
  width: 100%;
  padding-right: 0;
}

.first-row {
  margin-bottom: 10px;
}

.debtor-title,
.creditor-title {
  font-size: smaller;
  color: grey;
}