<nav class="navbar navbar-expand">
  <div class="container">
    <a class="navbar-brand me-4" routerLink="/charges">
      <img
        src="./assets/pictures/costssettler_logo.png"
        height="30"
        alt="CostsSettler logo"
        loading="lazy"
      />
      Costs Settler
    </a>

    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/charges">Charges</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/circumstances">Circumstances</a>
        </li>
      </ul>
      
      <div class="d-flex align-items-center">
        <span class="navbar-text">
          {{ currentUser?.firstName }}
          {{ currentUser?.lastName }}
        </span>
        
        <div *ngIf="isLoggedIn()">
          <button type="button" class="nav-item btn btn-outline-secondary px-3 me-2" (click)="logout()">
            <i class="fa fa-sign-out"></i>
            Logout
          </button>
        </div>
        <div *ngIf="!isLoggedIn()">
          <button type="button" class="nav-item btn btn-secondary px-3 me-2" (click)="login()">
            Login
            <i class="fa fa-sign-in"></i>
          </button>
        </div>
        
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-github"></i>
            Source
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="https://github.com/Tomasz-Terlecki/CostsSettler-API">API Source code</a>
            <a class="dropdown-item" href="https://github.com/Tomasz-Terlecki/CostsSettler-SPA">SPA Source code</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</nav>
