.navbar-text {
  margin-right: 30px;
}

.navbar {
  background-color: #e3f2fd;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-brand {
  margin-right: 40px;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}